extends ../components/base/layout-map

block variables
  - const title = "Карта 2" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "map-2.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .map-page
      .container
        .content-block
          h1.title.title--h1.map-page__title Задание по карте №2
          p
            strong Техническое задание
          p Реализовать карту через API Яндекс карт
          p Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами
          p На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.
          p Создать и расположить пины на карте из json файла. При клике на каждый пин выводить какую нибудь информацию в небольшом всплывающем окошке, которое будет появляться над пином
        .map-page__map-wrapper
          .map#map2(style="width: 100%; height: 700px" data-map)


block modals
