mixin intro()
  -
    const cards = [
      {
        href: '#menu',
        text: 'Меню',
      },
      {
        href: '#loader',
        text: 'Лоадер',
      },
      {
        href: '#first-screen',
        text: 'Сборка<br>первого экрана',
      },
      {
        href: '#show-on-scroll',
        text: 'Появление блоков',
      },
      {
        href: '#parallax',
        text: 'Параллакс',
      },
      {
        href: '#scroll-slider',
        text: 'Слайдер<br>по скроллу',
      },
    ];

  .intro(data-animate="intro" data-section-animation data-start="top top" data-end="bottom top")&attributes(attributes)
    .intro__sticky
      .container(data-animation="scale: 0.75, opacity: 0.5, rotateX: 5deg, y: -10vh" data-animation-direction="to")
        .intro__heading
          h1.intro__title.title.title--h1(data-splitting="") Задачки <br> на прокачку
          p.intro__text(data-splitting="") Задачи на интерфейсную логику,<br> которые часто встречаются<br> на реальных проектах
        .intro__cards.content-grid-layout(data-animation="scale: 0.5" data-animation-direction="to" data-position="0")
          each card in cards
            a.card(href=card.href data-scroll-to)
              h2.card__text.title.title--h3 !{card.text}
      .intro__bg
        video(src="img/video/bars.mp4" alt="intro-background" autoplay="true" muted="true" loop="")
