.main-page {

  &__section {
    padding-top: 90px;

    @include vp-767 {
      padding-top: 45px;
    }

    &--extra-padding {
      padding-bottom: 90px;
    }
  }

  &__scroll-slider {
    margin-top: 200px;
    padding-top: 0;
  }

  &__content-block {
    max-width: 70%;

    @include vp-767 {
      max-width: 100%;
    }
  }
}
