mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: 'map-1.html',
        text: 'Карта 1'
      },
      {
        href: 'map-2.html',
        text: 'Карта 2'
      },
      {
        href: 'map-3.html',
        text: 'Карта 3'
      },
      {
        href: 'map-4.html',
        text: 'Карта 4'
      },
    ]

  header.header(class=headerMods data-menu='container' data-fix-block)
    .container
      .header__layout
        a.logo.header__logo(href='index.html' aria-label='Переход на главную')
          +icon('logo', 362, 67)
        button.header__toggle(data-menu='btn' type='button' aria-label='Переключатель отображения меню' aria-pressed='false')
    nav.header__main-nav.main-nav(data-menu='nav' data-fix-block)
      .container
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link.is-active(href="index.html" data-menu='link') Анимации
            each link in headerLinks
              li.main-nav__item
                a.main-nav__link(href=link.href data-menu='link')
                  span !{link.text}
